.App {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.App > div {
    margin-right: 50px;
    text-align: center;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: aquamarine;
}

.is-done {
    opacity: 0.5;
}

.task {
    font-weight: bold;
}

.task-done {
    text-decoration: line-through;
    opacity: 0.5;
}

.filter-button {
    color: white;
    font-weight: bold;
    background-color: #7f4f9f;
    border: 2px solid #7f4f9f;
    border-radius: 2px;
}

.error-input {
    border: 2px solid red;
}

.filter-tablo {
    color: red;
    font-weight: bold;
    font-size: 40px;
}

.tablo {
    font-weight: bold;
    font-size: 40px;
}

.invalidValue {
    font-size: 26px;
    font-weight: bold;

}

button {
    font-size: 30px;
    font-weight: bold;
}

.counter {
    border: 1px solid black;
    border-radius: 20px;
    padding: 50px;
    background-color: #a9dd92;
    width: 300px;
    height: 100px;
}